<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
    <table cellspacing="20px">
        {% for data in data_from_file%}
        <form action="/delete" method="post">
            <tr><td>{{ data.event }}</td><td><input type="hidden" value="{{ data.event }}" name="event"></td>
                <td>{{ data.date }}</td><td><input type="hidden" value="{{ data.date }}" name="date"></td>
                <td>{{ data.time }}</td><td><input type="hidden" value="{{ data.time }}" name="time"></td>
                <td><input type="submit" value="Удалить"></td>
            </tr>
        </form>
        {% endfor %}
    </table>
    <a href="/add" style="padding-left: 150px">Добавить</a>
</body>
</html>